@page
@model StudHelper.Pages.Tasks.DetailsModel

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.MinPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.MinPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.MaxPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.MaxPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Employer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Employer.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
