@page
@model StudHelper.Pages.MyTasks.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.MinPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.MinPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.MaxPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.MaxPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EmployerReviewDescr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EmployerReviewDescr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EmployeeReviewDescr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EmployeeReviewDescr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EmployerRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EmployerRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EmployeeRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EmployeeRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Employee.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Employer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Employer.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Task.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
