@page
@model StudHelper.Pages.MyTasks.DetailsModel

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.MinPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.MinPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.MaxPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.MaxPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EmployerReviewDescr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EmployerReviewDescr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EmployeeReviewDescr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EmployeeReviewDescr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EmployerRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EmployerRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.EmployeeRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.EmployeeRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Employee.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Employer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Employer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Task.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
