@page
@model StudHelper.Pages.MyTasks.DetailsModel

<div>
    <h4>Task</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.MinPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.MinPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.MaxPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.MaxPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Task.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Status)
        </dd>
        <dt class="col-sm-2">
            Employee
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Task.Employee.UserName)
        </dd>
        <dt class="col-sm-2">
            Offers
        </dt>   
        <dd class="col-sm-10">
            @foreach (var offer in Model.Task.Offers)
            {
                <h5>@Html.DisplayFor(mo => offer.Employee.UserName)</h5>
                <strong>$@Html.DisplayFor(mo => offer.ProposedPrice)</strong>
                <br />
                <p>@Html.DisplayFor(mo => offer.Description)</p>

                
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Task.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
